.header {
    background-color:#5fc0cd ;


}
.hesder_left {
    margin: 50% 0 50% 10%;
    font-size:50rem;
    display: inline;
}
.hesder_middle {

    position: absolute;
    right: 20%;
    text-align: center;
    font-size:5rem;
    display: inline;
}

.hesder_right{

    position: absolute;
    right: 20%;
    font-size:3rem;}